/* nav bar bluegrey color #B0C4DE*/





body {
  font-family: 'Open Sans', sans-serif;
}
header {
  text-align: center;
  padding: 15px;
}
h1 {
  font-size: 44px;
}
nav {
  text-align: center;
  background-color: #B0C4DE;
  padding-top: 25px;
  padding-bottom: 25px;

}
 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  display: inline;
  background-color: #b8cce0;
  padding: 25px;
  font-size: 21px;
}
li:hover {
  background-color: #e6e6ff;
}

.container {
  padding: 20px 50px 20px 60px;
}

.game {
  margin-bottom: 400px;
  display: inline;
  text-align: center;
}
button {
  font-size: 10px;
  padding: 35px;
  color: #BC8F8F;
  margin: 20px;
  background-color: #e6e6ff;
}
section {
  border-right: 10px;
}
.row1 {
border-bottom: 4px solid black;
width: 40%;
margin: 0 auto;

}
.row2 {
  border-bottom: 4px solid black;
  width: 40%;
  margin: 0 auto;

}
.row3 {

}
#box1 {
  margin-right: 4px solid black;
}
.plays {
  text-align: center;
  padding: 10px;
  background-color: #b8cce0;
  margin-top: 10px;
  font-size: 25px;
}
.plays h4 {
  font-size: 30px;
}
.plays button {
  padding: 5px 10px;
  font-size: 20px;
  color: #A0522D;
  background-color: white;
}
.social {
  text-align: center;
  margin-top: 50px;
}
a {
  padding: 20px;
}
.social a:hover {
  -webkit-filter: opacity(20%);
  filter: opacity(20%);
}
footer {
  text-align: right;
  padding: 5px 10px;
  background-color: #708090;
  margin-top: 40px;
}

